<div id="sel">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell--span-1">
        <div class="mdc-select" id="xAxisItem">
          <i class="mdc-select__dropdown-icon"></i>
          <select
            class="mdc-select__native-control"
						id="xAxisItemSelect"
          >
            <option value="2000">2000 </option>
            <option value="2001">2001 </option>
            <option value="2002">2002 </option>
            <option value="2003">2003 </option>
            <option value="2004">2004 </option>
            <option value="2005">2005 </option>
            <option value="2006">2006 </option>
            <option value="2007">2007 </option>
            <option value="2008">2008 </option>
            <option value="2009">2009 </option>
            <option value="2010">2010 </option>
            <option value="2011">2011 </option>
            <option value="2012">2012 </option>
            <option value="2013">2013 </option>
            <option value="2014">2014 </option>
            <option value="2015" selected="selected">2015 </option>
            <option value="2016">2016 </option>
          </select>
          <label class="mdc-floating-label">Year</label>
          <div class="mdc-line-ripple"></div>
        </div>
      </div>
      <div class="mdc-layout-grid__cell--span-3">
        <div class="mdc-select" id="yAxisItem">
          <select
            class="mdc-select__native-control"
						id="yAxisItemSelect"
          >
            <option
              value="International tourism, number of arrivals and departures"
              selected="selected"
              >International tourism, number of arrivals and departures
            </option>
            <option value="International tourism, expenditures (current US$)"
              >International tourism, expenditures (current US$)
            </option>
            <option value="International tourism, receipts (current US$)"
              >International tourism, receipts (current US$)
            </option>
          </select>
          <label class="mdc-floating-label">Indicator</label>
          <div class="mdc-line-ripple"></div>
        </div>
      </div>
      <div class="mdc-layout-grid__cell--span-2">
        <div class="mdc-select" id="sort">
          <select
            class="mdc-select__native-control"
						id="sortSelect"
          >
            <option selected value="name-ascending">Alphabetical </option>
            <option value="value-descending">Value, descending </option>
            <option value="value-ascending">Value, ascending </option>
          </select>

          <label class="mdc-floating-label">Sort order</label>
          <div class="mdc-line-ripple"></div>
        </div>
      </div>
    </div>
  </div>
</div>
