<div id="selectionUI">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell--span-3">
        <div class="mdc-select" id="xAxis_scat">
          <i class="mdc-select__dropdown-icon"></i>
          <select id="xAxisItem_scat" class="mdc-select__native-control">
            <option
              value="International tourism, number of arrivals"
              selected="selected"
              >International tourism, number of arrivals</option
            >
            <option value="International tourism, number of departures"
              >International tourism, number of departures</option
            >
            <option value="International tourism, expenditures (current US$)"
              >International tourism, expenditures (current US$)</option
            >
            <option value="International tourism, receipts (current US$)"
              >International tourism, receipts (current US$)</option
            >
            <option value= "Commercial service exports (current US$)"
              >Commercial service exports (current US$)</option
            >
            <option value="Commercial service imports (current US$)"
              >Commercial service imports (current US$)</option
            >
            <option value="GDP (current US$)"
              >GDP (current US$)</option
            >
            <option value="Total reserves (includes gold, current US$)"
              >Total reserves (includes gold, current US$)</option
            >
          </select>
          <label class="mdc-floating-label">X axis</label>
          <div class="mdc-line-ripple"></div>
        </div>
      </div>

      <div class="mdc-layout-grid__cell--span-3">
        <div class="mdc-select" id="yAxis_scat">
          <i class="mdc-select__dropdown-icon"></i>

          <select id="yAxisItem_scat" class="mdc-select__native-control">
            <option value="International tourism, number of arrivals"
              >International tourism, number of arrivals</option
            >
            <option value="International tourism, number of departures"
              >International tourism, number of departures</option
            >
            <option
              value="International tourism, expenditures (current US$)"
              selected="selected"
              >International tourism, expenditures (current US$)</option
            >
            <option value="International tourism, receipts (current US$)"
              >International tourism, receipts (current US$)</option
            >
            <option value= "Commercial service exports (current US$)"
              >Commercial service exports (current US$)</option
            >
            <option value="Commercial service imports (current US$)"
              >Commercial service imports (current US$)</option
            >
            <option value="GDP (current US$)"
              >GDP (current US$)</option
            >
            <option value="Total reserves (includes gold, current US$)"
              >Total reserves (includes gold, current US$)</option
            >
          </select>
          <label class="mdc-floating-label">Y axis</label>
          <div class="mdc-line-ripple"></div>
        </div>
      </div>
    </div>
  </div>
</div>
