.histogram-bar:hover {
  stroke: #66689a;
  stroke-width: 3;
}

.axis path {
  fill: none;
  stroke-width: 3px;
  stroke: #adacac;
  shape-rendering: crispEdges;
}
/*
.axis path {
  display: none;
} */

.dot {
  stroke-width: 0.25pt;
  stroke: #555;
}
