.names {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

/* Tooltip CSS */
.tooltip {
  opacity: 0.9;
  position: absolute;
  pointer-events: none;
}

.tooltip p {
  margin: 8px;
}


.details {
  color: white;
}

/* .track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
} */

.track {
  /* stroke: #000; */
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #ddd;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}

.slider {
  opacity: 0.4;
}

.slider:hover{
  opacity: 1;
}

.selected {
  fill: #87719c9e;
  stroke: white;
}
